@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-main;
    background-color: rgb(4, 4, 4);

    .rating-card {
        background-color: $color-darker-blue;
        margin: 5rem auto;
        padding:  2.125rem;
        border-radius: 0.9375rem;
        width: min(100% - 3.125rem, 25.875rem);

        &__star-icon {
            margin-bottom: 2.4375rem;
            background-color: $color-dark-blue;
            border-radius: 50rem;
            padding: 0.8125rem;
        }
        &__h1 {
            color: $color-white;
            margin-bottom: 1.6875rem;
            font-size: 1.75rem;
        }
        &__p {
            color: $color-medium-grey;
            margin-bottom: 2.1875rem;
            font-size: $font-size-p;
        }

        a {
            @include ctaBtn;

                &:hover {
                    background-color: $color-white;
                    color: $color-orange;
                }
        }

        &__rating-container {
            display: flex;
            margin-bottom: 2.2125rem;
            justify-content: space-between;
            // height: 5rem;
                a {  
                    @include ratingBtn;
                        &:hover {
                            background-color: $color-white;
                            color: $color-orange;
                        }
                        &:focus {
                            background-color: $color-light-grey;
                            color: $color-white;
                        }
                        
                    }
                
        }
    }
}

// @include breakpoint (small) {
//     :root {
//         font-size: 18px;
//     }
// }

// @include breakpoint (large) {
//     :root {
//         font-size: 16px;
//     }
// }


@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: $font-main;
    background-color: rgb(4, 4, 4);
    text-align: center;

    .thank-you-card {
        background-color: $color-darker-blue;
        margin: 5rem auto;
        padding:  2.125rem;
        border-radius: 0.9375rem;
        width: min(100% - 3.125rem, 25.875rem);
        
        // display: flex;
        // flex-direction: column;
        // gap: 2.375rem;

        &__img-container {
            display: flex;
            justify-content: center;

            img {
                margin: 0 0 2.7rem 0;
            }
        }

        &__h1 {
            color: $color-white;
            margin: 1.9375rem 0 1.6875rem 0;
            font-size: 1.75rem;
        }
        &__p {
            color: $color-medium-grey;
            font-size: $font-size-p;
            margin-bottom: 2.1875rem;
        }
        &__text {
            @include selectedRatingBtn;
        }
        &__btn {
            @include ctaBtn;
                    
            &:hover {
                background-color: $color-white;
                color: $color-orange;
                }
    }
}
}

// @include breakpoint (small) {
//     :root {
//         font-size: 18px;
//     }
// }

// @include breakpoint (large) {
//     :root {
//         font-size: 16px;
//     }
// }